---
import Anchor from "../../common/anchor.astro";
import Container from "../../common/container.astro";
import { Sections } from "../../../constants/sections";

interface IItem {
  path: string;
  label: string;
}

const items: IItem[] = [
  {
    path: `#${Sections.ABOUT}`,
    label: "About",
  },
  {
    path: `#${Sections.PROJECTS}`,
    label: "Projects",
  },
  {
    path: `#${Sections.SKILLS}`,
    label: "Skills",
  },
  {
    path: `#${Sections.EXPERIENCE}`,
    label: "Experience",
  },
  {
    path: `#${Sections.CONTACT}`,
    label: "Contact",
  },
];
---

<header class="header">
  <Container>
    <nav class="header__nav">
      <span class="header__logo">Angelo Z</span>
      <ul class="header__list">
        {
          items.map(({ label, path }) => (
            <li class="header__item">
              <Anchor fontSize="lg" fontWeight="medium" href={path}>
                {label}
              </Anchor>
            </li>
          ))
        }
      </ul>
    </nav>
  </Container>
</header>

<style>
  .header {
    padding: var(--space-0);
    margin: var(--space-0);
    background-color: var(--color-background);
  }

  .header__logo {
    padding: var(--space-1) var(--space-2);
    font-size: var(--text-sm);
    border: 1px solid var(--color-border);
  }

  .header__nav {
    display: flex;
    padding: var(--space-5) var(--space-0);
    align-items: center;
  }

  .header__list {
    padding: var(--space-0);
    margin: var(--space-0);
    list-style: none;
    display: flex;
  }

  .header__item {
    margin: 0 var(--space-4);
  }
</style>
