---
import Anchor from "../../common/anchor.astro";
import Container from "../../common/container.astro";

interface IItem {
  path: string;
  label: string;
}

enum Sections {
  HERO = "hero",
  ABOUT = "about",
  PROJECTS = "projects",
  SKILLS = "skills",
  EXPERIENCE = "experience",
  CONTACT = "contact",
}

const items: IItem[] = [
  {
    path: `#${Sections.ABOUT}`,
    label: "About",
  },
  {
    path: `#${Sections.PROJECTS}`,
    label: "Projects",
  },
  {
    path: `#${Sections.SKILLS}`,
    label: "Skills",
  },
  {
    path: `#${Sections.EXPERIENCE}`,
    label: "Experience",
  },
  {
    path: `#${Sections.CONTACT}`,
    label: "Contact",
  },
];
---

<header class="header">
  <Container>
    <nav class="header__nav">
      <span>A</span>
      <ul class="header__list">
        {
          items.map(({ label, path }) => (
            <li class="header__item">
              <Anchor fontSize="lg" fontWeight="bold" href={path}>
                {label}
              </Anchor>
            </li>
          ))
        }
      </ul>
    </nav>
  </Container>
</header>

<style>
  .header {
    padding: var(--space-0);
    margin: var(--space-0);
  }

  .header__list {
    padding: var(--space-0);
    margin: var(--space-0);
    list-style: none;
    display: flex;
  }

  .header__item {
    margin: 0 var(--space-4);
  }
</style>
